.pokemon-list-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.grid {
    margin: 0 auto;
    display: grid;
    /* Adjust 250px to your minimum column size before wrapping */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 12px;
}

.grid {
    .card {
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: black;
        border-radius: 5px;
        border: 4px solid gold;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        padding: 10px 20px;
        text-align: center;
        box-sizing: border-box;
        background-color: rgba(226, 205, 68, 0.8);
        background-image:
            radial-gradient(circle at 10% 20%, rgba(248, 236, 242, 0.4) 0%, transparent 40%),
            radial-gradient(circle at 80% 10%, rgba(248, 236, 242, 0.4) 0%, transparent 30%),
            radial-gradient(circle at 50% 50%, rgba(248, 236, 242, 0.4) 0%, transparent 50%),
            radial-gradient(circle at 30% 70%, rgba(248, 236, 242, 0.4) 0%, transparent 40%),
            radial-gradient(circle at 90% 90%, rgba(248, 236, 242, 0.4) 0%, transparent 50%);
        background-blend-mode: screen;
    }

    .name {
        font-weight: bold;
        font-size: 2em;
        padding: 0px 4px;
        align-self: flex-start;
    }

    .image_window {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .pokemon_image_container {
        position: relative;
        display: flex;
        height: 96px;
        justify-content: center;
        background-color: beige;
        border: 4px solid gold;
        border-radius: 5px;
        perspective: 1000px;
    }

    .pokemon_image_container img {
        transform-style: preserve-3d;
        backface-visibility: visible;
        display: block;
    }

    .play_button {
        margin: auto;
        position: absolute;
        align-self: flex-end;
        margin: 8px;
    }
}

@keyframes coinFlip {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.grid .pokemon_image_container img.flipping {
    animation: coinFlip 1s ease-in-out;
}