.pokemon-grid-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.pokemon-list-container {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 20px;
    overflow-y: auto;
}

.card.animating.forward,
.card.flipped.forward {
    transform: rotateY(-180deg);
    transform-origin: 215px;
}

.card.animating.backward,
.card.flipped.backward {
    transform: rotateY(180deg);
    transform-origin: 215px;
}

.going_back {
    position: relative;
    animation: cardFlipToBack 2s forwards;
}

.pokemon-list-grid {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    /* Adjust 250px to your minimum column size before wrapping */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 12px;
    perspective: 1000px;
}

.pokemon-list-grid .going_back {
    position: relative;
    animation: cardFlip 1s forwards;
}

.pokemon-single-container {
    display: flex;
    perspective: 1000px;
    padding-left: 200px;
}

.pokemon-single-container .card {
    position: absolute;
    left: -215px;
    width: 430px;
    height: auto;
}

.pokemon_image_container .image.front {
    position: absolute;
    transform: rotateY(0deg);
}

.name {
    font-weight: bold;
    font-size: 2em;
    padding: 0px 4px;
    align-self: flex-start;
}

.image_window {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pokemon_image_container {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card_face {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: black;
    border-radius: 24px;
    border: 4px solid gold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(226, 205, 68, 1.0);
    background-image:
        radial-gradient(circle at 10% 20%, rgba(248, 236, 242, 0.4) 0%, transparent 40%),
        radial-gradient(circle at 80% 10%, rgba(248, 236, 242, 0.4) 0%, transparent 30%),
        radial-gradient(circle at 50% 50%, rgba(248, 236, 242, 0.4) 0%, transparent 50%),
        radial-gradient(circle at 30% 70%, rgba(248, 236, 242, 0.4) 0%, transparent 40%),
        radial-gradient(circle at 90% 90%, rgba(248, 236, 242, 0.4) 0%, transparent 50%);
    background-blend-mode: screen;
}

.card_face.front {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card_face.back {
    position: absolute;
    inset: 0;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card {
    position: relative;
    width: 100%;
    height: auto;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s ease-in-out;
}

.pokemon_image_container {
    display: flex;
    height: 96px;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: 4px solid gold;
    border-radius: 5px;
}

.pokemon_image_container {
    .image {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        display: block;
    }

    .image.back {
        transform: rotateY(180deg);
    }

    .image_flipper .image.gone {
        display: none;
    }
}

.pokemon_image_container.animating .image_flipper .image.front {
    transform: rotateY(180deg);
}

.pokemon_image_container.animating .image_flipper .image.back {
    transform: rotateY(0deg);
}

.image_flipper .image {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s ease-in-out;
}

.image_flipper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.play_button {
    margin: auto;
    position: absolute;
    align-self: flex-end;
    margin: 8px;
}

@keyframes cardFlipToBack {
    0% {
        z-index: 5;
        transform: rotateY(-180deg);
    }

    50% {
        z-index: 5;
        transform: rotateY(-360deg) translateX(-340px) rotateX(80deg) translateY(200px);
    }

    50.01% {
        z-index: 0;
    }

    100% {
        z-index: 0;
        transform: rotateY(-540deg);
    }
}

@keyframes cardFlip {
    0% {
        z-index: 5;
        transform: rotateY(-180deg);
    }

    50% {
        z-index: 5;
        transform: rotateY(-360deg);
    }

    50.01% {
        z-index: 0;
    }

    100% {
        z-index: 0;
        transform: rotateY(-540deg);
    }
}

.evolve-arrow {
    flex-shrink: 0;
    color: black;
    font-size: 4em;
    margin-left: 8px;
}

.evolution-container {
    display: flex;
    flex-shrink: 0;
}

/* Styles for screens 767px and narrower (mobile) */
@media screen and (max-width: 767px) {
    .pokemon-single-container {
        padding-left: 0;
    }

    .pokemon-single-container .card {
        width: 215px;
    }

    .pokemon-list-container {
        overflow-x: auto;
    }

    .pokemon-list-grid {

        .card.animating.forward,
        .card.flipped.forward {
            transform-origin: 186px;
        }

        .card.animating.backward,
        .card.flipped.backward {
            transform-origin: 186px;
        }
    }

    .pokemon-list-container {

        .card.animating.forward,
        .card.flipped.forward {
            transform-origin: 108px;
        }

        .card.animating.backward,
        .card.flipped.backward {
            transform-origin: 108px;
        }
    }

    .pokemon .going_back {
        position: relative;
        animation: cardFlip 2s forwards;
    }
}